html {
    font-family: sans-serif;
    margin-left: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.custom-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 10%;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition effect */
    margin-left: 140px
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 40%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #007BFF;
    outline: none;
}

/* Style for the button when clicked */
.custom-button:active {
    background-color: #0056b3; /* Change the background color while clicked */
}

/* Style for the radio container (check-group) */
.check-group {
    display: flex;
    flex-direction: column; /* Change the direction to column */
}

/* Hide the default radio button */
.check-group input[type="radio"] {
    display: none;
}

/* Style for the custom radio button */
.custom-radio {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #3498db;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

/* Style for the custom radio button when selected */
.custom-radio.checked {
    background-color: #3498db;
}

/* Style for the label text */
.check-group label {
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Set font-weight to bold for the label */
.bold-label {
    font-weight: bold;
}

/* Visually hide the radio button input and style the custom radio button */
.check-group input[type="radio"] + label .custom-radio::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: white;
    transition: background-color 0.3s;
    opacity: 0;
}

/* Style the custom radio button when selected */
.check-group input[type="radio"]:checked + label .custom-radio::before {
    background-color: #3498db;
    opacity: 1;
}