@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <button type="button" onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
    <button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
</div>