<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/_Layout.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="topnav">
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
        @Html.ActionLink("Register", "Index", "Registration", new { area = "" }, new { @class = "nav-link" })
    </div>


    <div class="container">
        @RenderBody()
    </div>
</body>
</html>